@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 700;
    src: local('Spoqa Han Sans Bold'),
    url('./fonts/spoqa-han-sans/Spoqa Han Sans Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 400;
    src: local('Spoqa Han Sans Regular'),
    url('./fonts/spoqa-han-sans/Spoqa Han Sans Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 300;
    src: local('Spoqa Han Sans Light'),
    url('./fonts/spoqa-han-sans/Spoqa Han Sans Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 100;
    src: local('Spoqa Han Sans Thin'),
    url('./fonts/spoqa-han-sans/Spoqa Han Sans Thin.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans';
}

body {
    margin: 0;
}

nav {
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 10px;
}

nav h3 {
    margin: 0;
}

main {
    margin-top: 50px;
}

ul {
    padding-left: 0;
    margin: 0;
}

ul.item-list {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

li {
    list-style-type: none;
}

ul li.item {
    display: block;
    margin-top: 10px;
    border: solid 1px black;
    padding-left: 10px;
    padding-right: 10px; 
    border: solid 1px #d0d0d0;
    border-radius: 5px;
}

.food-list .food::before {
    display: inline-block;
    content: '';
    width: 1px;
    border: solid 1px black;
    margin-right: 5px;
    margin-bottom: 5px;
}

ul li.item .item-header .badge {
    padding: 3px 5px;
    background-color: orange;
    border-radius: 5px;
    font-weight: 700;
}

ul .item .item-header .badge.dinner {
    background-color: navy;
    color: #fff;
}

ul li.item .item-header .title {
    display: inline-block;
    font-weight: 500;
    margin-left: 5px;
}

ul li.item .item-img img {
    width: 100%;
}

ul li.item .item-msg {
    padding-top: 10px;
    padding-bottom: 10px;
}

ul li.item img {
    display: inline-block;
    width: 200px;
}
